# CLion / JetBrains
.idea/
*.iml

# CMake build folders
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake
Makefile

# Compiled files
*.out
*.exe
*.o
*.obj

# Logs
*.log

# OS files
.DS_Store
Thumbs.db